body {
    background: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;

    @media screen and (min-width: 600px) {
        padding-top: 5vh;
    }
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: transparent;
    border: none;
    outline: none;
    color: white;
}


// parallax

.parallaxBackground.Plx--above {
    opacity: 0;
}